/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*@media (min-width: 768px) {*/
  /*.container {*/
    /*max-width: 730px;*/
  /*}*/
/*}*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* custom styling */
#content {
}
.doc-title {
    font-weight: bold;
}
.content-title {
    margin-top: -.5%;
}
.list-options {
    margin-top: 2em;
    margin-bottom: 1em;
}
.closer-pagination {
    margin-top: 0px;
}
.table-lines button{
    margin-top: -1em;
    margin-bottom: 2em;
}
.formWrapper {
    margin-top: 2em;
    padding-bottom: 6em;
}
.closeButtonForm, .saveButtonForm {
    margin-top: .3em;
}
.formActionsNavbar {
    padding-top: 1.5em;
    margin: 0 auto;
    max-width: 730px;
    height: 6em;
}
.saveButtonForm {
    margin-right: 3em;
}
.closeButtonForm {
    margin-left: 3em;
}
.subHeader {
    border-bottom: 1px solid #e5e5e5;
}
.spacedRow {
    margin-bottom: 1em;
}
.nav-sidebar a:hover {
    background: #428bca !important;
    color: white !important;
}
.navbar-inner {
    padding-right: 10px;
}
.sg-pagination {
    margin-top: -30px;
}
.sg-pagination a {
    cursor: pointer;
}
.date-row .dropdown-menu {
    z-index: 9999;
}
.date-row .btn-group button:nth-child(2),
.date-row .btn-group button:nth-child(3){
    display: none;
}
/* end custom styling */
