<div class="page-header">
  <h2>Incidente - SAU-AL-001-14 </h2>
</div>

<!-- process steps -->
<xims-steps-wizard steps="IncidentStepsService.steps"
                   active-id="{{ IncidentStepsService.correctiveActionsId }}">
</xims-steps-wizard>
<!-- END process steps -->

<div class="row formWrapper">
  <form ng-submit="save()" role="form" class="col-xs-12">

    <div class="page-header">
      <h3>Acciones Correctivas</h3>
    </div>

    <!-- actions -->
    <div class="row">
      <div class="table-lines col-xs-12">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>N</th>
            <th>Acción Correctiva</th>
            <th>Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="action in actions">
            <td>{{ $index + 1 }}</td>
            <td><textarea ng-model="action.description" class="form-control" rows="4"></textarea></td>
            <td>
              <select class="form-control">
                <option value="0"></option>
                <option value="1">Realizado</option>
                <option value="2" selected>Pendiente</option>
                <option value="3">En Ejecución</option>
              </select>
            </td>
            <td><a href="#" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END actions -->

    <div class="row navbar-default navbar-fixed-bottom formActionsNavbar">
      <div class="col-xs-6">
        <a href="#/capacitaciones" class="btn btn-default">Cerrar</a>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary pull-right btn-lg">Guardar</button>
      </div>
    </div>
  </form>
</div>