<div class="page-header">
  <h2>Nuevo Incidente</h2>
</div>

<!-- process steps -->
<div class="row">
  <div class="stepwizard">
    <div class="stepwizard-row">
      <div class="stepwizard-step">
        <button type="button" class="btn btn-primary btn-circle">1</button>
        <p><small><a href="#" class="">Información Básica</a></small></p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
        <p><small><a href="#/incidentes/1/trabajadores" class="">Trabajadores Afectados</a></small></p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
        <p><small><a href="#" class="">Evaluación</a></small></p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
        <p><small><a href="#" class="">Investigación</a></small></p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button>
        <p><small><a href="#" class="">Acciones Correctivas</a></small></p>
      </div>
    </div>
  </div>
</div>
<!-- END process steps -->

<div class="row formWrapper">
  <form ng-submit="save()" role="form" class="col-xs-12">

    <div class="row">
      <!-- responsible -->
      <div class="form-group col-xs-4">
        <label for="trainingResponsibleInput">N° DNI - Responsable del Registro</label>
        <input ng-model="training.responsibleIdNumber" id="trainingResponsibleInput" type="text"
               class="form-control" required>
      </div>
      <!-- END responsible -->

      <!-- project -->
      <div class="form-group col-xs-4">
        <label>Proyecto</label>
        <xims-popover selector="#incidentProjectSelect"
                      model="incident"
                      property="project"
                      template="newProjectTpl" title="Nuevo Proyecto"></xims-popover>
        <xims-popover-select id="incidentProjectSelect"
                             items="ProjectService.projects"
                             model="incident"
                             property="project"></xims-popover-select>
      </div>
      <!-- END project -->
    </div>


    <div class="row">
      <!-- incident type -->
      <div class="form-group col-xs-4">
        <label for="incidentTypeSelect">Tipo de Incidente</label>
        <select ng-model="incident.incidentType"
                id="incidentTypeSelect" class="form-control">
          <option>Casi accidente</option>
          <option>Accidente Leve</option>
          <option>Accidente Incapacitante</option>
          <option>Daño a la propiedad</option>
          <option>Daño al medio ambiente</option>
          <option>Accidente Mortal</option>
        </select>
      </div>
      <!-- END incident type -->

      <!-- date -->
      <div class="form-group col-xs-4">
        <label for="incidentDateInput">Fecha</label>
        <p class="input-group xims-date-picker-wrapper hide-extra-date-buttons">
          <input id="incidentDateInput" type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="incident.date" is-open="incident.dateOpened"
                 min="minDate" max="'2015-06-22'"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                 ng-required="true" close-text="Cerrar"
                 show-weeks='false' current-text='Hoy' />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open($event, incident)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p class="help-block">Cuando ocurrió el incidente.</p>
      </div>
      <!-- END date -->

      <!-- time -->
      <div class="xims-hour-picker-wrapper form-group col-xs-4">
        <label>Hora</label>
        <div ng-model="incident.hour">
          <timepicker></timepicker>
        </div>
      </div>
      <!-- END time -->
    </div>

    <!-- place -->
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="incidentPlaceInput">Lugar</label>
        <input ng-model="incident.place" id="incidentPlaceInput" type="text"
               class="form-control" required>
      </div>
    </div>
    <!-- END place -->

    <!-- description -->
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="incidentDescriptionInput">Descripción</label>
        <textarea ng-model="incident.description"
                  id="incidentDescriptionInput"
                  rows="6"
               class="form-control" required></textarea>
      </div>
    </div>
    <!-- END description -->

    <!-- observations -->
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="incidentObservationsInput">Observaciones</label>
        <textarea ng-model="incident.observations"
                  id="incidentObservationsInput"
                  rows="6"
                  class="form-control" required></textarea>
      </div>
    </div>
    <!-- END observations -->

    <div class="row navbar-default navbar-fixed-bottom formActionsNavbar">
      <div class="col-xs-6">
        <a href="#/capacitaciones" class="btn btn-default">Cerrar</a>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary pull-right btn-lg">Guardar</button>
      </div>
    </div>
  </form>
</div>

<script type="text/ng-template" id="newProjectTpl">
  <div ng-controller="newProjectCtrl">
    <form ng-submit="save($event)" role="form">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="projectNameInput">Nombre del Proyecto</label>
          <input ng-model="projectName"
                 type="text"
                 class="form-control"
                 id="projectNameInput"
                 placeholder="Nombre ..." autofocus="">
        </div>
      </div>
      <div class="row spacedRow">
        <div class="col-xs-12">
          <label for="projectCodeInput">Código del Proyecto</label>
          <input ng-model="projectCode"
                 type="text"
                 class="form-control"
                 id="projectCodeInput"
                 placeholder="Código ...">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button ng-click="close($event, false)" type='button' class="btn btn-default">
            <i class="fa fa-close"></i> Cerrar
          </button>
          <button type='submit' class="btn btn-primary">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</script>

