<div class="stadistics">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="logoPlaceHolder col-xs-2">Logo</div>
        <div class="col-xs-10">
          <h4>{{ UserService.currentUser.organization.name }}</h4>
          <h5><small>{{ today | date:'EEEE, d MMM - yyyy' }}</small></h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Report: Accidents/Incidents by category -->
  <div class="row">
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes e Incidentes según categoría - 2014</h4><br>
      <div id="graphicByCategory" class='home-graphic-report with-3d-shadow with-transitions'>
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents/Incidents by category -->

  <!-- Report: Accidents/Incidents by quantity -->
  <div class="row">
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes e Incidentes - 2014</h4><br>
      <div id="graphicByQuantity" class='home-graphic-report with-3d-shadow with-transitions'>
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents/Incidents by quantity -->

  <!-- Report: Accidents by affected part of human body -->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según parte del cuerpo afectado - 2014</h4><br>
      <div id="graphicAffectedPart" class='home-graphic-report'>
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by affected part of human body -->

  <!-- Report: Accidents by time of occurrence-->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según horario de ocurrencia - 2014</h4><br>
      <div id="graphicTimeOfOccurrence">
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by time of occurrence -->

  <!-- Report: Accidents by place of occurrence -->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según lugar de ocurrencia - 2014</h4><br>
      <div id="graphicPlaceOfOccurrence" class="home-graphic-report">
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by place of occurrence -->

  <!-- Report: Accidents by accident type * sector normative -->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según tipo de accidente (D.S.055-2010-EM) - 2014</h4><br>
      <svg id="graphicAccidentTypeSectorNormativeLegend"></svg>
      <div id="graphicAccidentTypeSectorNormative" class="home-graphic-report">
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by accident type * sector normative -->

  <!-- Report: Accidents by accident type * law -->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según forma de accidente (D.S.005-2012-TR) - 2014</h4><br>
      <svg id="graphicAccidentTypeLawLegend"></svg>
      <div id="graphicAccidentTypeLaw" class="home-graphic-report">
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by accident type * law -->

  <!-- Report: Accidents by risk type -->
  <div class="row">
    <h1></h1>
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes según tipo de riesgo - 2014</h4><br>
      <div id="graphicAccidentRiskType" class="home-graphic-report">
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents by risk type-->
</div>