<div class="jumbotron">
  <h1>Plataforma XIMS</h1>
  <p class="lead">
    <img src="images/yeoman.png" width="50" alt="deming"><br>
    Plataforma para sistemas integrales de gestión.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/trabajadores">Iniciar !</a></p>
</div>

<div class="row marketing">
  <h4>Módulo de Empleados</h4>
  <p>
  </p>

  <h4>Módulo de Capacitaciones</h4>
  <p>
  </p>

  <h4>Módulo de Investigación de Accidentes</h4>
  <p>
  </p>
</div>

<div class="footer">
  <p></p>
</div>
