<div class="stadistics">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="logoPlaceHolder col-xs-2">Logo</div>
        <div class="col-xs-10">
          <h4>{{ UserService.currentUser.organization.name }}</h4>
          <h5><small>{{ today | date:'EEEE, d MMM - yyyy' }}</small></h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Report: Accidents/Incidents by category -->
  <div class="row">
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes e Incidentes según categoría - 2014</h4><br>
      <div id="accidentsIncidentsReport1" class='with-3d-shadow with-transitions'>
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents/Incidents by category -->

  <!-- Report: Accidents/Incidents by quantity -->
  <div class="row">
    <div class="col-xs-12 well">
      <h4 class="text-center">Accidentes e Incidentes - 2014</h4><br>
      <div id="accidentsIncidentsReport2" class='with-3d-shadow with-transitions'>
        <svg></svg>
      </div>
    </div>
  </div>
  <!-- END Report: Accidents/Incidents by quantity -->

</div>