<div class="row">
  <div class="col-xs-12">
    <div class="table moneyBar" id="uniqName_46_2" widgetid="uniqName_46_2">
      <div class="tableRow" data-dojo-attach-point="_tableBarRow">
        <div class="col-xs-4 tableCell">
          <div class="bucket unbilled_tab" id="dijit__WidgetsInTemplateMixin_7" widgetid="dijit__WidgetsInTemplateMixin_7">
            <div class="header" data-dojo-attach-point="_label">Unbilled</div>
            <div class="table">
              <div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box estimates" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_7" widgetid="uniqName_45_7">
                <div class="subbox">
                  <span class="amount" data-dojo-attach-point="_amount">$0</span>&nbsp;
                  <div><span data-dojo-attach-point="_count">0</span>&nbsp;<span data-dojo-attach-point="_label">ESTIMATE</span></div>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 tableCell">
          <div class="bucket unpaid_tab" id="dijit__WidgetsInTemplateMixin_8" widgetid="dijit__WidgetsInTemplateMixin_8">
            <div class="header" data-dojo-attach-point="_label">Unpaid</div>
            <div class="table">
              <div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box unpaid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_8" widgetid="uniqName_45_8">
                <div class="subbox">
                  <span class="amount" data-dojo-attach-point="_amount">$0</span>&nbsp;
                  <div><span data-dojo-attach-point="_count">0</span>&nbsp;<span data-dojo-attach-point="_label">OPEN INVOICE</span></div>
                </div>
                <div class="subStatuses"><div class="box overdue" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_9" widgetid="uniqName_45_9">
                  <div class="subbox">
                    <span class="amount" data-dojo-attach-point="_amount">$0</span>&nbsp;
                    <div><span data-dojo-attach-point="_count">0</span>&nbsp;<span data-dojo-attach-point="_label">OVERDUE</span></div>
                  </div>
                </div></div></div></div></div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 tableCell">
          <div class="bucket paid_tab" id="dijit__WidgetsInTemplateMixin_9" widgetid="dijit__WidgetsInTemplateMixin_9">
            <div class="header" data-dojo-attach-point="_label">Paid</div>
            <div class="table">
              <div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box paid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_10" widgetid="uniqName_45_10">
                <div class="subbox">
                  <span class="amount" data-dojo-attach-point="_amount">$0</span>&nbsp;
                  <div><span data-dojo-attach-point="_count">0</span>&nbsp;<span data-dojo-attach-point="_label">PAID LAST 30 DAYS</span></div>
                </div>
              </div></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>