<table class="table table-bordered table-striped">
  <tbody>
  <tr>
    <td><span class="doc-title">N° REGISTRO:</span> 506 </td>
    <td colspan="4"><span class="doc-title">REGISTRO DE INDUCCIÓN, CAPACITACIÓN ENTRENAMIENTO Y SIMULACROS DE EMERGENCIA</span></td>
  </tr>
  <tr>
    <td colspan="5">DATOS DEL EMPLEADOR</td>
  </tr>
  <tr>
    <td>RAZÓN SOCIAL O DENOMINACIÓN SOCIAL</td>
    <td>RUC</td>
    <td>DOMICILIO (Dirección, distrito, departamento, provincia)</td>
    <td>ACTIVIDAD ECONÓMICA</td>
    <td>N° TRABAJADORES EN EL CENTRO LABORAL</td>
  </tr>
  <tr>
    <td>{{ company.name }}</td>
    <td>{{ company.uniqueNumber }}</td>
    <td>{{ company.address }}</td>
    <td>{{ company.economicActivity }}</td>
    <td>{{ company.totalNumberEmployees }}</td>
  </tr>
  <tr>
    <td>INDUCCIÓN</td>
    <td>CAPACITACIÓN</td>
    <td>ENTRENAMIENTO</td>
    <td colspan="2">SIMULACRO DE EMERGENCIA</td>
  </tr>
  <tr>
    <td><input name="trainingType" type="radio"></td>
    <td><input name="trainingType" type="radio"></td>
    <td><input name="trainingType" type="radio"></td>
    <td colspan="2"><input name="trainingType" type="radio"></td>
  </tr>
  <tr>
    <td>TEMA:</td>
    <td colspan="4">
      <div class="col-xs-12">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>FECHA:</td>
    <td colspan="4">
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>NOMBRE DEL CAPACITADOR O ENTRENADOR:</td>
    <td colspan="4">
      <div class="col-xs-12">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>N° HORAS:</td>
    <td colspan="4">
      <div class="col-xs-2">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>APELLIDOS Y NOMBRES DE LOS CAPACITADOS</td>
    <td>N° DNI</td>
    <td>ÁREA</td>
    <td>FIRMA</td>
    <td>OBSERVACIONES</td>
  </tr>
  <tr ng-repeat="employee in training.employees">
    <td>{{ employee.name }}</td>
    <td>
      <div ng-show="employee.dni">{{ employee.dni }}</div>
      <div ng-hide="employee.dni" class="col-xs-12">
        <input type="text"
               class="form-control"
               placeholder="DNI ... "
               ng-model="employee"
               typeahead="emp as emp.dni for emp in company.employees | filter:{dni:$viewValue}"
               typeahead-template-url="itemTpl.html">
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="5"><button class="btn btn-default">Agregar más lineas</button></td>
  </tr>
  <tr>
    <td colspan="5">RESPONSABLE DEL REGISTRO</td>
  </tr>
  <tr>
    <td>Nombre:</td>
    <td colspan="4">
      <div class="col-xs-8">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>Cargo:</td>
    <td colspan="4">
      <div class="col-xs-8">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>Fecha:</td>
    <td colspan="4">
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    </td>
  </tr>
  <tr>
    <td>Firma:</td>
    <td colspan="4">
    </td>
  </tr>
  </tbody>
</table>
<!-- Directive templates -->
<script type="text/ng-template" id="itemTpl.html">
  <a tabindex="-1">
    <p>DNI: {{ match.model.dni }} - {{ match.model.name }}</p>
  </a>
</script>
<!-- END Directive templates -->
