<!-- HEADER -->
<div class="row spacedRow">
  <h3 class="col-xs-2 content-title">{{ training.topic }}</h3>
  <div class="col-xs-10">
    <div class="pull-right">
      <a ng-href="#/trabajadores/{{ employee.id }}/editar" class="btn btn-primary">Editar información</a>
    </div>
  </div>
</div>
<!-- END HEADER -->

<!-- INFORMATION -->
<div class="row spacedRow">
  <div class="col-xs-4">
    <p><strong>N° Registro:</strong> {{ training.registryNumber  }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>Responsable:</strong> {{ training.responsible.displayName  }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>Tipo:</strong> {{ training.trainingType }}</p>
  </div>
</div>
<div class="row spacedRow">
  <div class="col-xs-4">
    <p><strong>Fecha:</strong> {{ training.trainingDate }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>N° Horas:</strong> {{ training.trainingHours }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>Capacitador:</strong> {{ training.trainer.displayName }}</p>
  </div>
</div>
<!-- END INFORMATION -->

<!-- TRAINED -->
<div class="row">
  <div class="col-xs-12">
    <h3 class="subHeader">Trabajadores Capacitados</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>N° DNI</th>
        <th>Nombres y Apellidos</th>
        <th>OBSERVACIONES</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="trained in training.trained">
        <td>{{ trained.dni }}</td>
        <td>{{ trained.displayName }}</td>
        <td>{{ trained.observations }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- END TRAINED -->
