<!-- HEADER -->
<div class="row">
    <h3 class="col-xs-2 content-title">Capacitaciones</h3>
    <div class="col-xs-10">
        <div class="pull-right btn-group">
            <a href="#/capacitaciones/nuevo" class="btn btn-primary">Nueva capacitación</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a>Importar Capacitaciones</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END HEADER -->

<!-- QUICK FILTERING -->
<!--<div class="row">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="table moneyBar" id="uniqName_46_2" widgetid="uniqName_46_2">-->
      <!--<div class="tableRow" data-dojo-attach-point="_tableBarRow">-->
        <!--<div class="col-xs-4 tableCell">-->
          <!--<div class="bucket unbilled_tab" id="dijit__WidgetsInTemplateMixin_7" widgetid="dijit__WidgetsInTemplateMixin_7">-->
            <!--<div class="header" data-dojo-attach-point="_label">Última semana</div>-->
            <!--<div class="table">-->
              <!--<div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box estimates" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_7" widgetid="uniqName_45_7">-->
                <!--<div class="subbox">-->
                  <!--<span class="amount" data-dojo-attach-point="_amount">5 capacitaciones</span>&nbsp;-->
                  <!--<div>-->
                    <!--<span data-dojo-attach-point="_label">en la última semana</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-4 tableCell">-->
          <!--<div class="bucket unpaid_tab" id="dijit__WidgetsInTemplateMixin_8" widgetid="dijit__WidgetsInTemplateMixin_8">-->
            <!--<div class="header" data-dojo-attach-point="_label">Últimos 15 días</div>-->
            <!--<div class="table">-->
          <!--<div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box unpaid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_8" widgetid="uniqName_45_8">-->
            <!--<div class="subbox">-->
              <!--<span class="amount" data-dojo-attach-point="_amount">10 capacitaciones</span>&nbsp;-->
              <!--<div>-->
                <!--<span data-dojo-attach-point="_label">en los últimos 15 días</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--</div></div></div>-->
        <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-4 tableCell">-->
          <!--<div class="bucket paid_tab" id="dijit__WidgetsInTemplateMixin_9" widgetid="dijit__WidgetsInTemplateMixin_9">-->
        <!--<div class="header" data-dojo-attach-point="_label">Último mes</div>-->
        <!--<div class="table">-->
          <!--<div class="tableRow" data-dojo-attach-point="_bucketBarRow"><div class="tableCell"><div class="box paid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_10" widgetid="uniqName_45_10">-->
            <!--<div class="subbox">-->
              <!--<span class="amount" data-dojo-attach-point="_amount">50 capacitaciones</span>&nbsp;-->
              <!--<div>-->
                <!--<span data-dojo-attach-point="_label">en el último mes</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div></div></div>-->
        <!--</div>-->
      <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- END QUICK FILTERING -->

<!-- OPTIONS -->
<div class="row list-options">
  <!-- ORDER BY -->
  <div class="col-xs-3 btn-group">
      <button type="button" class="btn btn-default">Ordernar por</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Ordenar por</span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="" ng-click="predicate='registryNumber'; reverse = !reverse">N° Registro</a></li>
          <li><a href="" ng-click="predicate='topic'; reverse = !reverse">Tema</a></li>
          <li><a href="" ng-click="predicate='dateOfTraining'; reverse = !reverse">Fecha</a></li>
          <li><a href="" ng-click="predicate='numberOfTrainingHours'; reverse = !reverse">N° Horas</a></li>
      </ul>
  </div>
  <!-- END ORDER BY -->

  <!-- SEARCH -->
  <div class="col-xs-5">
    <form ng-submit="setEmployees()" class="input-group">
      <input ng-model="searchText" type="text" class="form-control" placeholder="N° Registro, Tema ...">
      <span class="input-group-btn">
      <button
          ng-click="setEmployees()"
          ng-disabled="EmployeeService.loadingEmployees"
          class="btn btn-default"
          type="button">
        <i class="glyphicon glyphicon-search"></i> Buscar</button>
      </span>
    </form>
  </div>
  <!-- END SEARCH -->

  <!-- OTHER OPTIONS -->
  <div class="col-xs-4">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-print"></span> Imprimir
      </button>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-export"></span> Exportar
      </button>
    </div>
  </div>
  <!-- END OTHER OPTIONS -->
</div>
<!-- END OPTIONS -->

<!-- RECORDS -->
<div class="row">
  <table class="table table-bordered table-striped col-xs-12">
    <thead>
      <tr>
        <th>N° Registro</th>
        <th>Tema</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>N° Horas</th>
      </tr>
    </thead>
    <tbody ng-hide="TrainingService.loadingTrainings">
      <tr ng-repeat="training in TrainingService.trainings | filter:searchText | orderBy:predicate:reverse">
        <td><a ng-href="#/capacitaciones/{{ training.id }}" class="">{{ training.id }}</a></td>
        <td><a ng-href="#/capacitaciones/{{ training.id }}" class="">{{ training.topic }}</a></td>
        <td>{{ training.training_type }}</td>
        <td>{{ training.training_date | date:'MM/dd/yyyy @ h:mma' }}</td>
        <td>{{ training.training_hours }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- END RECORDS -->

<!-- FLASH MESSAGE -->
<div ng-hide="TrainingService.trainings.length || TrainingService.loadingTrainings"
     class="row">
  <div class="alert alert-info">
    <p>No se encontraron resultados.</p>
  </div>
</div>
<!-- FLASH MESSAGE -->

<!--LOADER-->
<div ng-show="TrainingService.loadingTrainings" class="row text-center">
  <i class="fa fa-spinner fa-spin fa-4x"></i>
</div>
<!--END LOADER-->

<!-- PAGINATION -->
<div class="row sg-pagination">
  <pagination total-items="TrainingService.totalItems"
              page="TrainingService.currentPage"
              max-size="maxSize"
              class="pagination-sm"
              boundary-links="true"
              items-per-page="itemsPerPage"
              on-select-page="setTrainings(page)"
              first-text="Primero"
              last-text="Último"
              previous-text="Anterior"
              next-text="Siguiente">
  </pagination>
</div>
<!-- END PAGINATION -->