<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/harmony.css">
    <link rel="stylesheet" href="styles/signin.css">
    <link rel="stylesheet" href="styles/process_steps.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ximsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Fixed navbar -->
    <div ng-controller="TopNavbarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand navbar-brand" href="#">Segguro</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show='UserService.currentUser' class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ UserService.currentUser.first_name }}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a id='signOutAnchor' ng-click="signOut()" href="">
                  <i class="fa fa-sign-out"></i>
                  Cerrar sesión</a></li>
                <!--<li class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main container  -->
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul ng-controller="SidebarCtrl" class="nav nav-sidebar">
          <li ng-class="{active: currentModule('home')}">
            <a ng-href="#">
              <span class="fa fa-home"></span> Home
            </a>
          </li>
          <li ng-class="{active: currentModule('employee')}" >
            <a id="empModuleAnchor" href="#/trabajadores">
              <i class="fa fa-users"></i> Trabajadores
            </a>
          </li>
          <li ng-class="{active: currentModule('training')}" >
            <a href="#/capacitaciones">
              <i class="fa fa-file-text-o"></i> Capacitaciones</a>
          </li>
          <li ng-class="{active: currentModule('incident')}" >
            <a href="#/incidentes">
              <i class="fa fa-search"></i> Incidentes</a>
          </li>
          <li ng-class="{active: currentModule('action')}" >
            <a href="#/acciones">
              <i class="fa fa-calendar"></i> Seguimiento de Acciones</a>
          </li>
          <li ng-class="{active: currentModule('iper')}" >
            <a href="#">
              <i class="fa fa-sitemap"></i> IPER</a>
          </li>
          <li ng-class="{active: currentModule('audit')}" >
            <a href="#">
              <i class="fa fa-user-md"></i> Auditorías</a>
          </li>
          <li ng-class="{active: currentModule('reports')}" >
            <a href="#">
              <i class="fa fa-bar-chart-o"></i> Reportes</a>
          </li>
          <li ng-class="{active: currentModule('dashboard')}">
            <a ng-href="#">
              <span class="glyphicon glyphicon-dashboard"></span> Dashboard
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ng-controller="FlashMessageServiceCtrl">
          <p ng-repeat="flashMessage in flashMessageService.flashMessages" class="alert alert-{{ flashMessage.level }}" id="flash-message">
            <button
                type="button"
                class="close"
                data-dismiss="alert" ng-click="flashMessageService.removeFlashMessage(flashMessage)">&times;</button>
            <strong>{{ flashMessage.text }}</strong>
          </p>
        </div>
        <div id="content" ng-view=""></div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/lib/xims-popover.js"></script>
    <script src="scripts/lib/xims-typeahead-creator.js"></script>
    <script src="scripts/lib/xims-steps-wizard.js"></script>
    <script src="scripts/lib/xims-cause-row.js"></script>
    <script src="scripts/lib/flash-message.js"></script>
    <script src="scripts/cause/cause.module.js"></script>
    <script src="scripts/cause/services/CauseService.js"></script>
    <script src="scripts/incident/incident.module.js"></script>
    <script src="scripts/incident/services/IncidentStepsService.js"></script>
    <script src="scripts/incident/services/IncidentService.js"></script>
    <script src="scripts/incident/controllers/IncidentAssessmentNewCtrl.js"></script>
    <script src="scripts/incident/controllers/IncidentInvestigationNewCtrl.js"></script>
    <script src="scripts/incident/controllers/IncidentCorrectiveActionsNewCtrl.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/main.js"></script>
    <script src="scripts/services/appSettings.js"></script>
    <script src="scripts/services/employee.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/project.js"></script>
    <script src="scripts/services/employeeAlerts.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/employeeListCtrl.js"></script>
    <script src="scripts/controllers/employeeListFiltersCtrl.js"></script>
    <script src="scripts/controllers/trainingListCtrl.js"></script>
    <script src="scripts/controllers/incidentListCtrl.js"></script>
    <script src="scripts/controllers/incidentNewCtrl.js"></script>
    <script src="scripts/controllers/incidentIndividualsNewCtrl.js"></script>
    <script src="scripts/controllers/actionListCtrl.js"></script>
    <script src="scripts/controllers/navBars.js"></script>
    <script src="scripts/controllers/sessions.js"></script>
    <script src="scripts/controllers/employeesCtrl.js"></script>
    <!-- endbuild -->
    
    <%if (process.env.NODE_ENV == 'development') { %>
    <script>angular.module('ximsApp').value('Global',{env:0});</script>
    <% } else if (process.env.NODE_ENV == 'production') { %>
    <script>angular.module('ximsApp').value('Global',{env:1});</script>
    <% } %>

    <script src="bower_components/angular-i18n/angular-locale_es-pe.js"></script>
</body>
</html>
