<form ng-submit="save()" role="form">
<!-- HEADER -->
<div class="row spacedRow">
  <h3 class="col-xs-12 content-title">{{ employee.display_name }}</h3>
</div>
<!-- END HEADER -->

<!-- PERSONAL INFORMATION -->
<div class="row spacedRow">
  <div class="col-xs-4">
    <p><strong>N° DNI:</strong> {{ employee.id_number }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>Edad:</strong> {{ employee.age }}</p>
  </div>
  <div class="col-xs-4">
    <p><strong>Área:</strong> {{ employee.workspace }}</p>
  </div>
</div>
<!-- END PERSONAL INFORMATION -->

<!-- SCTR -->
<div class="row">
  <div class="col-xs-12">
    <h3 class="subHeader">SCTR</h3>
  </div>
</div>
<div class="row spacedRow">
  <div class="col-xs-12">
    <p><strong>Fecha de Vencimiento: </strong></p>
    <div class="row date-row">
      <div class="col-xs-4">
        <p class="input-group">
          <input type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="employee.risk_insurance.expiration_date" is-open="employee.risk_insurance.opened"
                 min="minDate" max="'2015-06-22'"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                 ng-required="true" close-text="Cerrar"
                 show-weeks='false' current-text='Hoy' />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open($event, employee.risk_insurance)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- END SCTR -->

<!-- MEDICAL EXAM -->
<div class="row">
  <div class="col-xs-12">
    <h3 class="subHeader">Examen Médico</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p><strong>Fecha de Vencimiento: </strong></p>
    <div class="row date-row">
      <div class="col-xs-4">
        <p class="input-group">
          <input type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="employee.medical_exam.expiration_date" is-open="employee.medical_exam.opened"
                 min="minDate" max="'2015-06-22'"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                 ng-required="true" close-text="Close" show-weeks='false'/>
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open($event, employee.medical_exam)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- END MEDICAL EXAM -->

<!-- ACTIONS -->
<div class="row navbar-default navbar-fixed-bottom formActionsNavbar">
  <div class="col-xs-6">
    <a ng-href="#/trabajadores/{{ employee.id }}" class="btn btn-default">Cerrar</a>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-primary pull-right btn-lg">Guardar</button>
  </div>
</div>
<!-- ACTIONS -->
</form>