<!-- HEADER -->
<div ng-controller="EmployeeListHeaderCtrl" class="row">
  <h3 class="col-xs-2 content-title">Trabajadores</h3>
  <small>
    <a ng-show="EmployeeAlertsService.filterApplied" ng-click="clearFilter()" id="empFilterMessage" href="" class="">Limpiar filtro / Ver todos</a></small>
  <div class="col-xs-10">
    <div class="pull-right">
      <button class="btn btn-primary">Importar Trabajadores</button>
    </div>
  </div>
</div>
<!-- END HEADER -->

<!-- QUICK FILTERING -->
<div ng-controller="EmployeeListFiltersCtrl" class="row">
  <div class="col-xs-12">
    <div class="table moneyBar" id="uniqName_46_2" widgetid="uniqName_46_2">
      <div class="tableRow" data-dojo-attach-point="_tableBarRow">
        <div class="col-xs-4 tableCell">
          <div class="bucket unbilled_tab" id="dijit__WidgetsInTemplateMixin_7" widgetid="dijit__WidgetsInTemplateMixin_7">
            <div class="header">SCTR VENCIDO</div>
            <div class="table">
              <div class="tableRow">
                <div class="tableCell">
                  <div id="riskInsuranceExpiredBtn"
                       ng-click="setEmployeesFiltered(EmployeeAlertsService.riskInsuranceExpired)"
                       class="box estimates">
                    <div class="subbox">
                      <span class="amount" data-dojo-attach-point="_amount">
                        <i ng-hide="EmployeeAlertsService.riskInsuranceExpired.meta" class="fa fa-spinner fa-spin fa-1x"></i>
                        {{ EmployeeAlertsService.riskInsuranceExpired.meta.total_items }}
                        <ng-pluralize count="EmployeeAlertsService.riskInsuranceExpired.data.length"
                                      when="{'0': 'Trabajadores', '1': 'Trabajador', 'other': 'Trabajadores'}">
                        </ng-pluralize>
                      </span>&nbsp;
                      <div>
                        <span>CON SCTR VENCIDO</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 tableCell">
          <div class="bucket unpaid_tab" id="dijit__WidgetsInTemplateMixin_8" widgetid="dijit__WidgetsInTemplateMixin_8">
            <div class="header" data-dojo-attach-point="_label">EXAMEN MÉDICO VENCIDO</div>
            <div class="table">
              <div class="tableRow" data-dojo-attach-point="_bucketBarRow">
                <div class="tableCell">
                  <div ng-click="setEmployeesFiltered(EmployeeAlertsService.medicalExamExpired)"
                       class="box unpaid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_8" widgetid="uniqName_45_8">
                <div class="subbox">
                  <span class="amount" data-dojo-attach-point="_amount">
                    <i ng-hide="EmployeeAlertsService.medicalExamExpired.meta" class="fa fa-spinner fa-spin fa-1x"></i>
                    {{ EmployeeAlertsService.medicalExamExpired.meta.total_items }}
                    <ng-pluralize count="EmployeeAlertsService.medicalExamExpired.data.length"
                                  when="{'0': 'Trabajadores', '1': 'Trabajador', 'other': 'Trabajadores'}">
                    </ng-pluralize>
                  </span>&nbsp;
                  <div>
                    <span>CON EXAMEN MÉDICO VENCIDO</span>&nbsp;
                  </div>
                </div>
                </div></div></div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 tableCell">
          <div class="bucket paid_tab" id="dijit__WidgetsInTemplateMixin_9" widgetid="dijit__WidgetsInTemplateMixin_9">
            <div class="header" data-dojo-attach-point="_label">SIN INDUCCIÓN</div>
            <div class="table">
              <div class="tableRow">
                <div class="tableCell">
                  <div ng-click="setEmployeesFiltered(EmployeeAlertsService.noInductionTraining)"
                       class="box paid" data-dojo-attach-point="_self" data-dojo-attach-event="onclick:onClick" id="uniqName_45_10" widgetid="uniqName_45_10">
                <div class="subbox">
                  <span class="amount" data-dojo-attach-point="_amount">
                    <i ng-hide="EmployeeAlertsService.noInductionTraining.meta" class="fa fa-spinner fa-spin fa-1x"></i>
                    {{ EmployeeAlertsService.noInductionTraining.meta.total_items }}
                  <ng-pluralize count="EmployeeAlertsService.noInductionTraining.data.length"
                                when="{'0': 'Trabajadores', '1': 'Trabajador', 'other': 'Trabajadores'}">
                  </ng-pluralize>
                  </span>&nbsp;
                  <div>
                    <span data-dojo-attach-point="_count">SIN INDUCCIÓN</span>&nbsp;
                  </div>
                </div>
              </div></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END QUICK FILTERING -->

<!-- OPTIONS -->
<div class="row list-options">
  <!-- ORDER BY -->
  <div class="col-xs-3 btn-group">
    <button type="button" class="btn btn-default">Ordenar por</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Ordenar por</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" ng-click="predicate = 'dni'; reverse=!reverse">N° DNI</a></li>
      <li><a href="" ng-click="predicate = 'first_name'; reverse=!reverse" >Nombres</a></li>
      <li><a href="" ng-click="predicate = 'last_name'; reverse=!reverse" >Apellidos</a></li>
    </ul>
  </div>
  <!-- END ORDER BY -->

  <!-- SEARCH -->
  <div class="col-xs-5 ">
    <form ng-submit="setEmployees()" class="input-group">
      <input ng-model="searchText" type="text" class="form-control" placeholder="DNI, Nombres, Apellidos ...">
      <span class="input-group-btn">
      <button
          ng-click="setEmployees()"
          ng-disabled="EmployeeService.loadingEmployees"
          id="empSearchBtn"
          class="btn btn-default"
          type="button">
        <i class="glyphicon glyphicon-search"></i> Buscar</button>
      </span>
    </form>
  </div>
  <!-- END SEARCH -->

  <!-- OTHER OPTIONS -->
  <div class="col-xs-4">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-print"></span> Imprimir
      </button>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-export"></span> Exportar
      </button>
    </div>
  </div>
  <!-- END OTHER OPTIONS -->
</div>
<!-- END OPTIONS -->

<!-- RECORDS -->
<div class="row">
  <table class="table table-bordered table-striped col-xs-12">
    <thead>
    <tr>
      <th>N° DNI</th>
      <th>Nombres y Apellidos</th>
    </tr>
    </thead>
    <tbody ng-hide="EmployeeService.loadingEmployees" >
    <tr ng-repeat="employee in EmployeeService.employees | orderBy:predicate:reverse">
      <td>
          <a ng-href="#/trabajadores/{{ employee.id }}"
             class="">{{ employee.id_number }}</a></td>
      <td>{{ employee.first_name }} {{ employee.middle_name }},
          {{ employee.last_name }} {{ employee.second_last_name }}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- END RECORDS -->

<!-- FLASH MESSAGE -->
<div ng-hide="EmployeeService.employees.length || EmployeeService.loadingEmployees"
     class="row">
  <div class="alert alert-info">
    <p>No se encontraron resultados.</p>
  </div>
</div>
<!-- FLASH MESSAGE -->

<!--LOADER-->
<div ng-show="EmployeeService.loadingEmployees" class="row text-center">
    <i class="fa fa-spinner fa-spin fa-4x"></i>
</div>
<!--END LOADER-->

<!-- PAGINATION -->
<div class="row sg-pagination">
  <pagination total-items="EmployeeService.totalItems"
              page="EmployeeService.currentPage"
              max-size="maxSize"
              class="pagination-sm"
              boundary-links="true"
              items-per-page="itemsPerPage"
              on-select-page="setEmployees(page)"
              first-text="Primero"
              last-text="Último"
              previous-text="Anterior"
              next-text="Siguiente">
  </pagination>
</div>
<!-- END PAGINATION -->